.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0.5rem 1rem;
  font-size: var(--font-size2);
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn {
  background-color: var(--bnt-color);
  color: white;
}

.btn svg {
  flex-shrink: 0;
}

.btn:hover {
  background-color: var(--hover-color);
}

.btn:active {
  transform: scale(0.95);
}

.btn-icon {
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;        /* Redondo: 50%/ Quadrado: 4px */
}

.btn svg {
  width: 20px;          /* Altera a largura do ícone */
  height: 20px;         /* Altera a altura do ícone */
}